/.idea
/.atom
/nbproject
/.vscode

/node_modules/*
/docker/maria/*
/docker/nginx/logs/*
/vendor/*

/storage/*.key
/storage/logs/*
/Homestead.yaml
/Homestead.json
/.vagrant
.phpunit.result.cache
npm-debug.log
yarn-error.log
