/.idea
/.atom
/nbproject
/.vscode

/node_modules/*
/docker/maria/*
/docker/nginx/logs/*
/storage/*.key
/storage/logs/*
/vendor/*

/.env
/docker-compose.yml
/Homestead.yaml
/Homestead.json
/.vagrant
/.phpunit.result.cache
/npm-debug.log
/yarn-error.log
/desktop.ini
.DS_Store
.DS_Store?
